/* Large Devices, Wide Screens */
@media only screen and (max-width : 1000px) {
    
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 800px) {
	main section{
		padding-right: 0;
	}

	main aside{
		margin-top: 40px;
	}

}


/* Small Devices, Tablets */
@media only screen and (max-width : 530px) {
	.slide, #post_2>div:first-child{
		background-size: cover;
		background-position: center;
	}

	.stats{
		width: 100%;
		display: block;
		float: none;
		padding-top: 18px;
		padding-left: 1px;
	}

	.stats>div{
		display: inline-block;
		width: 32%;
	}

	.article{
		display: block;
		width: 100%;
	}
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 400px) {
	.stats>div{
		display: block;
		width: 100%;
	}
}